xsd/InformatiemodelGeluid/v20200623/IMG_Cumulatief.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:Cumulatief="http://geluidgegevens.nl/cumulatief"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:gml="http://www.opengis.net/gml/3.2"
           xmlns:Algemeen="http://geluidgegevens.nl/algemeen"
           xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0"
           targetNamespace="http://geluidgegevens.nl/cumulatief"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0-0">
   <xs:annotation>
      <xs:appinfo source="http://www.imvertor.org/model-info/project">MIMLM</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/application">Informatiemodel Geluid</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/release">20200421</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/version">1.0</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/phase">0</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/uri">www.geluidgegevens.nl/namespace/cumulatief</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/generated">2020-05-12T11:34:40Z</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/xml-schema-info/file-location">Informatiemodel Geluid/unknown/v20200421/Informatiemodel Geluid_Cumulatief_v1_0.xsd</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/xml-schema-info/generated">May 12, 2020 at 11:34:40</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/xml-schema-info/generator">1.59.4</xs:appinfo>
      <xs:documentation source="http://www.imvertor.org/schema-info/conversion">
        This schema is based on an UML specification, which is transformed by the Imvertor software. Imvertor modules are in the public domain, see http://www.imvertor.org.
    </xs:documentation>
   </xs:annotation>
   <xs:annotation>
      <xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
         <gmlsf:ComplianceLevel>2</gmlsf:ComplianceLevel>
      </xs:appinfo>
   </xs:annotation>
   <xs:import namespace="http://www.opengis.net/gml/3.2"
              schemaLocation="../../gml/3.2.1/gml.xsd"/>
   <xs:import namespace="http://geluidgegevens.nl/algemeen"
              schemaLocation="IMG_Algemeen.xsd"/>
   <xs:element name="Geluidcontour"
               type="Cumulatief:GeluidcontourType"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De grens van een gebied met een specifieke geluidbelasting.
Explanation: Contour rondom geluidbron op basis van akoestisch onderzoek. Per 1 dB moet een contour worden berekend. Bij luchtvaart is het bereik van 48 dB Lden tot 70 dB.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeluidcontourType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="contour" type="gml:MultiSurfacePropertyType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Vlak geometrie van een geluidcontour boven Nederlands grondgebied, waarbij de buitenste lijnen de grenswaarde voorstellen.
Explanation: Er is voor gekozen om gebruik te maken van het MultiSurface datatype omdat het mogelijk te maken met contouren om te gaan die op grensgebieden liggen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="geluidniveau" type="gml:MeasureType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Geeft het geluidniveau aan in dB waarbij een Contour hoort.
Explanation: Welke contouren moeten worden opgenomen, wordt bepaald door ContourType.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="identificatie" type="Algemeen:NEN3610IDPropertyType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Unieke identificatie van het object binnen het domein van NEN 3610.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="type" type="Cumulatief:ContourTypeType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Geeft het type geluidcontour aan.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="naamGeluidbron" type="xs:string">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Kort tekstveld voor de naam van de geluidbron.
Explanation: Naam toevoegen is optioneel. Alleen toevoegen wanneer deze informatie van toegevoegde waarde is vooreen gebruiker van het geluidregister.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="omschrijvingGeluidbron" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Lang tekstveld voor omschrijving van de geluidbron waar contour bij hoort.
Explanation: Omschrijving toevoegen is optioneel. Alleen toevoegen wanneer deze informatie van toegevoegde waarde is voor een gebruiker van het geluidregister.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded"
                           name="cumulatiebesluit"
                           nillable="false"
                           type="Algemeen:DocumentverwijzingPropertyType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een Geluidcontour heeft 1 of meerdere Documentverwijzingen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded"
                           name="berekening"
                           nillable="false"
                           type="Algemeen:GeluidberekeningobjectPropertyType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: 1 of meer Geluidcontouren worden berekend in 1 of meer Berekeningen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GeluidcontourPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="Cumulatief:Geluidcontour"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
      <xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </xs:complexType>
   <xs:element name="Windturbine"
               type="Cumulatief:WindturbineType"
               substitutionGroup="Algemeen:Geluidemissieobject">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een verzameling van brongegevens die gebruikt word om de geluid productie van een windturbine in de werkelijkheid te simuleren.
Explanation: Voor windturbines worden alleen de brongegevens opgeslagen in de centrale voorziening. Een windturbine heeft geen geluidaandachtsgebied.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="WindturbineType">
      <xs:complexContent>
         <xs:extension base="Algemeen:GeluidemissieobjectType">
            <xs:sequence>
               <xs:element name="geometrie" type="gml:PointPropertyType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Driedimensionale punt geometrie van de wieken-as van de windturbine.
Explanation: Geometrie van de hoogte van de wieken-as conform het GM_Point datatype. De z-hoogte is de hoogte van een punt binnen de geometrie. De z-hoogte ten opzichte van NAP is conform de richtlijnen van ISO19107 opgenomen in de geometrie.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="jaargemiddeldeGeluidemissie"
                           type="Cumulatief:EmissiePerDagdeelPropertyType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Jaargemiddelde emissie van windturbine.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="linkNaarMelding" type="xs:anyURI">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een link naar de melding of het besluit waarin plaatsing windmolen is aangevraagd bij bevoegd gezag.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="turbineHoogte" type="gml:MeasureType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Afstand tussen wieken-as en het maaiveld.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="WindturbinePropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="Cumulatief:Windturbine"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
      <xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </xs:complexType>
   <xs:element name="EmissiePerDagdeel" type="Cumulatief:EmissiePerDagdeelType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De jaargemiddelde emissie van een windturbine op een dagdeel.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="EmissiePerDagdeelType">
      <xs:sequence>
         <xs:element name="dagdeel" type="Algemeen:DagdeelType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Dagdeel waarvoor jaargemiddelde emissiewaarde geldig is.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="jaargemiddeldeGeluidemissiewaarde"
                     type="Algemeen:WaardePerOctaafbandPropertyType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Jaargemiddelde Geluidemissiewaarde per octaafband.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EmissiePerDagdeelPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="Cumulatief:EmissiePerDagdeel"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="ContourTypeType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Lijst van bestaande contour types in categorie overig waarvoor een geluidcontour kan worden opgenomen.
Explanation: Er zijn verschillende manieren om geluidcontouren te berekenen. Verschillende type berekeningen voor contouren staan in deze enumeratie.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="lden">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Uniforme maat om geluidproductie in uit te drukken voor dag avond en nacht bij elkaar.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ke">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een maat om de geluidsbelasting rond vliegvelden mee uit te drukken aan de hand van de Kosten formule.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="bs">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Contourtype dat gebruikt wordt bij een schiet- of springterrein.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
