xsd/InformatiemodelGeluid/v20200623/IMG_Algemeen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:Algemeen="http://geluidgegevens.nl/algemeen"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:gml="http://www.opengis.net/gml/3.2"
           xmlns:GPPAlgemeen="http://geluidgegevens.nl/GPPalgemeen"
           xmlns:BGEAlgemeen="http://geluidgegevens.nl/BGEalgemeen"
           xmlns:GPPIndustrie="http://geluidgegevens.nl/industrie"
           xmlns:gmlsf="http://www.opengis.net/gmlsf/2.0"
           targetNamespace="http://geluidgegevens.nl/algemeen"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0-0">
   <xs:annotation>
      <xs:appinfo source="http://www.imvertor.org/model-info/project">MIMLM</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/application">Informatiemodel Geluid</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/release">20200421</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/version">1.0</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/phase">0</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/uri">geluidgegevens.nl/namespace/algemeen</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/model-info/generated">2020-05-12T11:34:40Z</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/xml-schema-info/file-location">Informatiemodel Geluid/unknown/v20200421/Informatiemodel Geluid_Algemeen_v1_0.xsd</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/xml-schema-info/generated">May 12, 2020 at 11:34:40</xs:appinfo>
      <xs:appinfo source="http://www.imvertor.org/xml-schema-info/generator">1.59.4</xs:appinfo>
      <xs:documentation source="http://www.imvertor.org/schema-info/conversion">
        This schema is based on an UML specification, which is transformed by the Imvertor software. Imvertor modules are in the public domain, see http://www.imvertor.org.
    </xs:documentation>
   </xs:annotation>
   <xs:annotation>
      <xs:appinfo source="http://schemas.opengis.net/gmlsfProfile/2.0/gmlsfLevels.xsd">
         <gmlsf:ComplianceLevel>2</gmlsf:ComplianceLevel>
      </xs:appinfo>
   </xs:annotation>
   <xs:import namespace="http://www.opengis.net/gml/3.2"
              schemaLocation="../../gml/3.2.1/gml.xsd"/>
   <xs:import namespace="http://geluidgegevens.nl/GPPalgemeen"
              schemaLocation="IMG_GPPAlgemeen.xsd"/>
   <xs:import namespace="http://geluidgegevens.nl/BGEalgemeen"
              schemaLocation="IMG_BGEAlgemeen.xsd"/>
   <xs:import namespace="http://geluidgegevens.nl/industrie"
              schemaLocation="IMG_GPPIndustrie.xsd"/>
   <xs:element name="Geluidgegevenscollectie"
               type="Algemeen:GeluidgegevenscollectieType"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Informatieobject dat gegevens specificeert over alle geluidproductrieplafonds of basisgeluidemissies, de voor de berekening daarvan gebruikte geluidbrongegevens (geluidemissie- en geluidoverdrachtsobjecten), de onderliggende (juridische) documententatie, de monitoringsgegevens en het geluidaandachtsgebied, die gezamenlijk deel uitmaken van hetzelfde type geluidbron.
Explanation: Dit object is de kern het informatiemodel geluid; het verbindt alle objecten met elkaar en houdt de historie bij. Door ook informatie op te nemen over het soort geluidbron en de herkomst van de geluidgegevenscollectie wordt ook aangegeven met welke juridische werkelijkheid de gegevenscollectie te maken heeft. Aangezien iedere geluidbron aan andere regels moet voldoen, is de geluidbron bepalend voor de juridische werkelijkheid waaraan de geluidgegevenscollectie moet conformeren. Geluidgegevenscollectie is een GML FeatureCollection, dus heeft een relatie met iedere Feature (GML term voor Object) uit dit informatiemodel. Geluidbronnen Gemeentewegen (BGE) Hoofdspoor (GPP) Industrieterrein (GPP) Lokaal spoor (BGE) Luchtvaart Schiet- of springterrein Provinciale weg (GPP) Rijksweg (GPP) Waterschapsweg (BGE) Windturbine</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeluidgegevenscollectieType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="identificatie" type="Algemeen:NEN3610IDPropertyType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Unieke identificatie van het object binnen het domein van NEN 3610.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="type" type="Algemeen:ToepassingType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Geeft aan voor welke toepassing de Geluidgegevenscollectie is gebruikt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="geluidbron" type="Algemeen:GeluidbronType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Geluidbron waar Vastlegging betrekking op heeft.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="herkomstCollectie"
                           nillable="false"
                           type="Algemeen:HerkomstCollectieType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Informatie over de herkomst van een Geluidgegevenscollectie.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="tijdstipRegistratie" type="xs:dateTime" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Tijdstip waarop deze instantie van het object is opgenomen in het geluidregister.
Explanation: Het GML DateTime datatype schijft de manier voor waarop het tijdstip van registratie in het geluidregister wordt opgenomen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="eindRegistratie" type="xs:dateTime" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: eind van de periode waarop deze instantie van het object geldig is in het geluidregister. Wanneer deze waarde niet is ingevuld is de instantie nog geldig
Explanation: Het GML DateTime datatype schijft de manier voor waarop het eind van registratie in het geluidregister wordt opgenomen. Deze attribuutwaarde hoeft niet te worden ingevuld wanneer einddatum niet bekend is.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0"
                           name="geluidaandachtsgebied"
                           nillable="false"
                           type="Algemeen:GeluidaandachtsgebiedPropertyType"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GeluidgegevenscollectiePropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="Algemeen:Geluidgegevenscollectie"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
      <xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </xs:complexType>
   <xs:element name="Geluidaandachtsgebied"
               type="Algemeen:GeluidaandachtsgebiedType"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Gebied rondom een industrieterrein of langs een weg of spoorweg, waarbinnen de geluidproductie hoger kan zijn dan de standaardwaarde.
Explanation: Indien een initiatiefnemer een nieuw project wil ontwikkelen of een bestand project wilt wijzigen dat in een geluidaandachtsgebied (GAG) valt, dient er aanvullend akoestisch onderzoek gedaan te worden. Voor de bepaling van het GAG wordt een vereenvoudigde berekeningsmethode gebruikt, zodat per definitie hierbinnen de standaardwaarde niet overschreden wordt.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeluidaandachtsgebiedType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="identificatie" type="Algemeen:NEN3610IDPropertyType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Unieke identificatie van het object binnen het domein van NEN 3610.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="geluidbronsoort" type="Algemeen:GeluidbronsoortType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Type geluidbron (verkeer, rail, industrie) waarbij het geluidaandachtsgebied hoort.
Explanation: Dit gegeven is afgeleid van Geluidgegevenscollectie.geluidbron.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="geometrie" type="gml:MultiSurfacePropertyType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Multivlak geometrie van een geluidaandachtsgebied.
Explanation: Geometrie van een geluidaandachtsgebied is conform met het GM_MultiSurface datatype. Hoogte is niet nodig bij een punt binnen de geometrie.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GeluidaandachtsgebiedPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="Algemeen:Geluidaandachtsgebied"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
      <xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </xs:complexType>
   <xs:element name="Monitoringresultaat"
               type="Algemeen:MonitoringresultaatType"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Monitoringgegevens voor geluidproductieplafonds of basisgeluidemissie zoals opgenomen in het meest recente openbare verslag over de monitoring. .
Explanation: Monitoring voor geluidproductieplafonds als omgevingswaarden vindt plaats door de geluidproductie te berekenen. Monitoring van de basisgeluidemissie vindt plaats door het het verschil tussen de gemiddelde geluidemissie in een kalenderjaar en de basisgeluidemissie zoals opgenomen in het meest recente openbare verslag over de monitoring te berekenen of te schatten.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="MonitoringresultaatType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="identificatie" type="Algemeen:NEN3610IDPropertyType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Unieke identificatie van het object binnen het domein van NEN 3610.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="kwalitatieveOnderbouwing" type="xs:boolean" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Geeft aan of er een schriftelijke toelichting bestaat, waarin het bevoegd gezag verklaart dat de monitoringswaarde lager zal zijn dan de basisgeluidemissie + 1,5 dB.
Explanation: In veel gevallen zal er bij het bepalen van een gemiddelde geluidemissie alleen een andere verkeersintensiteit zijn ten opzichte van de basisgeluidemissie (voertuigverdeling, snelheden en wegdekverharding blijven gelijk). Met een vuistregel kan onderbouwd worden dat de monitoringswaarde lager zal zijn dan de basisgeluidemissie + 1,5 dB. Bij gelijkblijvende omstandigheden komt een toename van 1.5 dB overeen met een toename van het verkeer met 40%. Indien kwalitatief onderbouwd kan worden dat deze toename in verkeer lager is dan 40% hoeft niet gekwantificeerd te worden wat deze toename is. Uitgangspunt voor de regel van 40% is dat rijsnelheden niet hoger zijn vergeleken met het basisjaar en de verharding moet dan minimaal even stil zijn als de verharding in het basisjaar. Om de registratielast te beperken, biedt het informatiemodel de mogelijkheid om alleen True in te voeren. Indien False, mag het attribuut in zijn geheel weggelaten worden.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="monitoringjaar" type="xs:gYear">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het jaar waarop de monitoring betrekking heeft
Explanation: Dit is altijd het afgelopen jaar. Ook voor basisgeluidemissies die vijfjaarlijks gemonitord worden.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="monitoringwaarde" type="gml:MeasureType" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De berekende geluidwaarde van het afgelopen jaar op een GPP of BGE.
Explanation: De gemiddelde geluidproductie in het afgelopen jaar op een referentiepunt bij een geluidproductieplafondobject, of het verschil tussen de gemiddelde geluidemissiewaarde van het afgelopen jaar ten opzichte van de basisgeluidemissie.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="openbaarVerslagMonitoring"
                           nillable="false"
                           type="Algemeen:DocumentverwijzingPropertyType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Explanation: Heeft een rechtstreekse relatie met Documentverwijzing zodat via deze weg naar een nalevingsrapportage verwezen kan worden.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0"
                           name="geluidproductieplafondobject"
                           nillable="false"
                           type="GPPAlgemeen:GeluidproductieplafondobjectPropertyType"/>
               <xs:element minOccurs="0"
                           name="basisgeluidemissieobject"
                           nillable="false"
                           type="BGEAlgemeen:BasisgeluidemissieobjectPropertyType"/>
               <xs:element name="geluidberekeningobject"
                           nillable="false"
                           type="Algemeen:GeluidberekeningobjectPropertyType"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="MonitoringresultaatPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="Algemeen:Monitoringresultaat"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
      <xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </xs:complexType>
   <xs:element name="Geluidemissieobject"
               type="Algemeen:GeluidemissieobjectType"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Abstractie van alle volgens wet- en regelgeving relevante infrastructurele- en industrieterrein-objecten uit de werkelijkheid die geluid produceren.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeluidemissieobjectType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="identificatie" type="Algemeen:NEN3610IDPropertyType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Unieke identificatie van het object binnen het domein van NEN 3610..</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="jaar" type="xs:gYear">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Jaartal waarop het object betrekking heeft.
Explanation: Een geluidemissieobject heeft binnen de centrale voorziening geluidgegevens verschillende functies Het kan een object zijn dat gebruikt is voor de bepaling van de hoogte van een geluidproductieplafond of basisgeluidemissie; Het kan ook gebruikt zijn in de berekening van de monitoringswaarde in van een bepaald jaar. Indien een bevoegd gezag ervoor kiest om de emissieobjecten die ten grondslag liggen aan de monitoringsberekening mee te leveren, is het noodzakelijk om deze te koppelen aan het monitoringsjaar waarop ze betrekking hebben. Voor de basisgeluidemissie kan een prognosewaarde gelevert worden. Ook hiervoor kunnen de onderlinggende emissieobjecten meegeleverd worden. Net als bij monitoring kunnen dan op basis van het jaartal de juiste objecten gekoppeld worden aan het doel waarvoor het object gebruikt is.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="naam" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Kort tekstveld voor de naam van het Geluidemissieobject.
Explanation: Naam toevoegen is optioneel. Alleen toevoegen wanneer deze informatie van toegevoegde waarde is voor een gebruiker van het geluidregister.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="omschrijving" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Lang tekstveld voor omschrijving van Geluidemissieobject.
Explanation: Omschrijving toevoegen is optioneel. Alleen toevoegen wanneer deze informatie van toegevoegde waarde is voor een gebruiker van het geluidregister.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GeluidemissieobjectPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="Algemeen:Geluidemissieobject"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
      <xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </xs:complexType>
   <xs:element name="Geluidoverdrachtsobject"
               type="Algemeen:GeluidoverdrachtsobjectType"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Object met een geluid reflecterende, afschermende of absorberende werking.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeluidoverdrachtsobjectType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="identificatie" type="Algemeen:NEN3610IDPropertyType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Unieke identificatie van het object binnen het domein van NEN 3610..</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="jaar" type="xs:gYear">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Jaartal waarop het object betrekking heeft.
Explanation: Een overdrachtsobject heeft binnen de centrale voorziening geluidgegevens verschillende functies Het kan een object zijn dat gebruikt is voor de bepaling van de hoogte van een geluidproductieplafond of basisgeluidemissie; Het kan ook gebruikt zijn in de berekening van de monitoringswaarde in van een bepaald jaar. Indien een bevoegd gezag ervoor kiest om de overdrachtsobjecten die ten grondslag liggen aan de monitoringsberekening mee te leveren, is het noodzakelijk om deze te koppelen aan het monitoringsjaar waarop ze betrekking hebben. Voor de basisgeluidemissie kan een prognosewaarde gelevert worden. Ook hiervoor kunnen de onderlinggende overdrachtsobjecte n meegeleverd worden. Net als bij monitoring kunnen dan op basis van het jaartal de juiste objecten gekoppeld worden aan het doel waarvoor het object gebruikt is.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="naam" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Kort tekstveld voor de naam van het geluidoverdrachtsobject.
Explanation: Naam toevoegen is optioneel. Alleen toevoegen wanneer deze informatie van toegevoegde waarde is voor een gebruiker van het geluidregister.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="omschrijving" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Lang tekstveld voor omschrijving van overdrachtsobject.
Explanation: Omschrijving toevoegen is optioneel. Alleen toevoegen wanneer deze informatie van toegevoegde waarde is voor een gebruiker van het geluidregister.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GeluidoverdrachtsobjectPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="Algemeen:Geluidoverdrachtsobject"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
      <xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </xs:complexType>
   <xs:element name="Documentverwijzing"
               type="Algemeen:DocumentverwijzingType"
               abstract="true"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Verwijzing naar het onderliggende besluit voor GPP, onderliggende bepaling voor BGE of onderliggende monitoringsrapportage voor een Monitoringswaarde of overige besluiten of meldingen.
Explanation: Een documentverwijzing kan verbonden zijn aan een monitoringsresultaat dat toebehooort aan een basisgeluidemissieobject. Om die reden heeft een documentverwijzing geen of meerdere geluidproductieplafondobjecten [0..*].</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="DocumentverwijzingType" abstract="true">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="identificatie" type="Algemeen:NEN3610IDPropertyType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Unieke identificatie van het object binnen het domein van NEN 3610.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="locatie" type="xs:anyURI">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De link naar het betreffende besluit, bepaling of nalevingsrapportage.
Explanation: Neem hier een URL naar het document op</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="type" type="Algemeen:DocumenttypeType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het type document waarnaar verwezen wordt.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="datumInwerkingtreding" type="xs:date" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De start van de periode waarop het document, gespecificeerd onder Documentverwijzing.documenttype, geldig is in de werkelijkheid.
Explanation: Er zijn verschillende datatypes voor de represenstatie van een tijdstip: Afhankelijk van de gebruikerswensen m.b.t. granulariteit kan o.a. worden gekozen uit types TM_Instant, Date of DateTime.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="DocumentverwijzingPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="Algemeen:Documentverwijzing"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
      <xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </xs:complexType>
   <xs:element name="Geluidberekeningobject"
               type="Algemeen:GeluidberekeningobjectType"
               substitutionGroup="gml:AbstractFeature">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Object met achtergrondinformatie over een geluidberekening die van toepassing is voor een Geluidgegevenscollectie.
Explanation: Dit object is toegevoegd om het transparant te maken welke partij het akoestisch onderzoek heeft uitgevoerd met welke software.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="GeluidberekeningobjectType">
      <xs:complexContent>
         <xs:extension base="gml:AbstractFeatureType">
            <xs:sequence>
               <xs:element name="identificatie" type="Algemeen:NEN3610IDPropertyType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Unieke identificatie van het object binnen het domein van NEN 3610.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0"
                           name="industrieRekeninstelling"
                           nillable="false"
                           type="GPPIndustrie:IndustrieRekeninstellingenType">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Standaard rekeninstellingen die zijn gebruikt bij een industrie geluidberekening.
Explanation: Deze gegevensgroep is verplicht binnen domein GPP Industrie. In andere domeinen hoeven deze gegevens niet te worden aangeleverd.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="organisatie" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Naam van de organisatie die de berekening heeft uitgevoerd in tekst.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="rekenmodelversie" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Versienummer van het toegepaste rekenmodel.
Explanation: Een softwarepakket kan meerdere veries van een onderliggend rekenmodel ondersteunen. In dat geval geeft de softwarepakketversie onvoldoende informatie over de gebruikte rekeninstellingen en moet de rekenmodelversie opgegeven worden.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="softwarepakketnaam" type="xs:string">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Naam van het software pakket waarmee berekening is uitgevoerd.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="softwarepakketversie" type="xs:string">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Versie van het softwarepakket dat gebruikt is voor de berekening.
Explanation: Een softwarepakket kan meerdere veries van een onderliggend rekenmodel ondersteunen. In dat geval geeft de softwarepakketversie onvoldoende informatie over de gebruikte rekeninstellingen en moet ook de rekenmodelversie opgegeven worden.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="berekeningsdatum" type="xs:date">
                  <xs:annotation>
                     <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Datum waarop berekening is uitgevoerd.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GeluidberekeningobjectPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="Algemeen:Geluidberekeningobject"/>
      </xs:sequence>
      <xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
      <xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
   </xs:complexType>
   <xs:element name="FactorPerOctaafband" type="Algemeen:FactorPerOctaafbandType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Fractiewaarde per octaafband.
Explanation: In Nederland wordt veelal gebruik gemaakt van de volgende octaafbanden met midden frequenties van: 31,5;63;125;250;500;1000;2000;4000 en 8000 Hz.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="FactorPerOctaafbandType">
      <xs:sequence>
         <xs:element name="band31Hz" type="xs:decimal" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Fractiewaarde die van toepassing is voor octaafband met een midden frequentie van 31 Hertz.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="band63Hz" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Fractiewaarde die van toepassing is voor octaafband met een midden frequentie van 63 Hertz.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="band125Hz" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Fractiewaarde die van toepassing is voor octaafband met een midden frequentie van 125 Hertz.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="band250Hz" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Fractiewaarde die van toepassing is voor octaafband met een midden frequentie van 250 Hertz.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="band500Hz" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Fractiewaarde die van toepassing is voor octaafband met een midden frequentie van 500 Hertz.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="band1000Hz" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Fractiewaarde die van toepassing is voor octaafband met een midden frequentie van 1000 Hertz.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="band2000Hz" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Fractiewaarde die van toepassing is voor octaafband met een midden frequentie van 2000 Hertz.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="band4000Hz" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Fractiewaarde die van toepassing is voor octaafband met een midden frequentie van 4000 Hertz.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="band8000Hz" type="xs:decimal">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Fractiewaarde die van toepassing is voor octaafband met een midden frequentie van 8000 Hertz.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FactorPerOctaafbandPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="Algemeen:FactorPerOctaafband"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="NEN3610ID" type="Algemeen:NEN3610IDType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: identificatiegegevens voor de universeel unieke identificatie van een object
Explanation: De combinatie van ‘namespace’ van een registratie, lokale identificatie en versie informatie maken een object uniek identificeerbaar. Met de informatie van deze klasse kan daardoor met zekerheid worden verwezen naar het geïdentificeerde object.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="NEN3610IDType">
      <xs:sequence>
         <xs:element name="namespace" type="xs:string"/>
         <xs:element name="lokaalID" type="xs:string">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Unieke identificatiecode binnen een registratie.
Explanation: ‘LokaalId’ is de identificatiecode die een object heeft binnen een (lokale) registratie. De volgende karakters mogen in een lokaalID voorkomen: {”A”…”Z”, “a”…”z”, ”0”…”9”, “_”, “-“, “,”, ”.”}.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="versie" type="xs:string" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: versie-aanduiding van een object.
Explanation: Het attribuut ‘versie’ maakt geen deel uit van de identificatie van het object maar kan worden gebruikt om verschillende versies van hetzelfde object te identificeren.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="NEN3610IDPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="Algemeen:NEN3610ID"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="WaardePerOctaafband" type="Algemeen:WaardePerOctaafbandType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Gedeelte van het geluidspectrum waarbij de hoogste frequentie twee keer de laagste frequentie bezit.
Explanation: In Nederland wordt veelal gebruik gemaakt van de volgende octaafbanden met midden frequenties van: 31,5;63;125;250;500;1000;2000;4000 en 8000 Hz.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="WaardePerOctaafbandType">
      <xs:sequence>
         <xs:element name="band31Hz" type="gml:MeasureType" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Waarde die van toepassing is voor octaafband met een midden frequentie van 31 Hertz.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="band63Hz" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Waarde in dB die van toepassing is voor octaafband met een midden frequentie van 63 Hertz.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="band125Hz" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Waarde in dB die van toepassing is voor octaafband met een midden frequentie van 125 Hertz.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="band250Hz" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Waarde in dB die van toepassing is voor octaafband met een midden frequentie van 250 Hertz.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="band500Hz" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Waarde in dB die van toepassing is voor octaafband met een midden frequentie van 500 Hertz.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="band1000Hz" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Waarde in dB die van toepassing is voor octaafband met een midden frequentie van 1000 Hertz.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="band2000Hz" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Waarde in dB die van toepassing is voor octaafband met een midden frequentie van 2000 Hertz.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="band4000Hz" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Waarde in dB die van toepassing is voor octaafband met een midden frequentie van 4000 Hertz.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="band8000Hz" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Waarde in dB die van toepassing is voor octaafband met een midden frequentie van 8000 Hertz.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="WaardePerOctaafbandPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="Algemeen:WaardePerOctaafband"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="OIN" type="Algemeen:OINType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Organistatie Identificatie Nummer zoals beschreven in Digikoppeling Identificatie en authenticatie.</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:simpleType name="OINType">
      <xs:annotation>
         <xs:documentation>This complex datatype is transformed to a simple type because a content pattern is defined.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:pattern value="^[0-9]{20}$"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="OINPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="Algemeen:OIN"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="HerkomstCollectieType">
      <xs:sequence>
         <xs:element name="bronhouder"
                     type="Algemeen:OINPropertyType"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Unieke OIN identificatie van de bronhouder van de "Geluidgegevenscollectie" volgens bijlage 1 van Digikoppeling Identificatie en authenticatie.
Explanation: Een Industrieterrein kan over gemeente grenzen heel vallen. Een Industrieterrein kan dus meer bevoegd gezag hebben, daarom bestaat de optie om meer dan 1 bronhouder toe te voegen.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="leverancier" type="Algemeen:OINPropertyType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Unieke OIN identificatie van de leverancier van de Geluidgegevenscollectie volgens bijlage 1 van Digikoppeling Identificatie en authenticatie.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BovenbouwgegevensSpoorType">
      <xs:sequence>
         <xs:element name="bovenbouwcode" type="Algemeen:BovenbouwcodeType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Categorie-indeling van de bovenbouw.
Explanation: Een Spoordeel kan in SoundBase verschillende bovenbouwcodes hebben. De in te voeren bovenbouwcode is afhankelijk van de boring, dwarsliggertype, spoorstaafbevestiging, ballastdikte en de eventuele aanwezigheid van raildempers. De combinatie van voorgaande factoren resulteert in een bijbehorende bovenbouwklasse.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="spoorstaafonderbreking" type="xs:integer">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Indicatie van de aanwezigheid van onderbrekingen in de geprofileerde ijzeren staaf die onderdeel is van een spoorbaan.
Explanation: Onderbrekningen in de spoorstaaf zorgen voor een hogere geluidemissie.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="spoorstaafruwheid" type="Algemeen:SpoorstaafruwheidPropertyType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Ruwheidsklasse van de geprofileerde ijzeren staaf die onderdeel is van een spoorbaan.
Explanation: Standaard wordt met categorie 1 gerekend, maar in sommige gevallen zijn maatregelen getroffen en kan voor categorie 2, dan wel 3 gekozen worden. 1 = Gemiddeld 2 = Geoptimaliseerd geslepen tot 200 km/pu 3 = Geoptimaliseerd boven 200)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="IntensiteitgegevensSpoorType">
      <xs:sequence>
         <xs:element name="dagdeel" type="Algemeen:DagdeelType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Afgebakend tijdsvak binnen etmaal, waarvan het geheel van tijdsvakken samen één etmaal beslaat.
Explanation: Dagperiode (7.00-19.00 uur) Avondperiode (19.00-23.00 uur) Nachtperiode (23.00-7.00 uur)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="materieelsoort" type="gml:ReferenceType">
            <xs:annotation>
               <xs:appinfo>
                  <CodeListName>Materieelsoort</CodeListName>
                  <CodeListURI>https://www.treinenweb.nl/materieel</CodeListURI>
               </xs:appinfo>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een materieelsoort is de samenbindende karakterisering van materieel met overeenkomstige kenmerken voor wat betreft aandrijving en koppelbaarheid.
Explanation: Dit is een externe waardenlijst die wordt beheerd door ProRail. Elk materieelsoort heeft een aantal unieke eigenschappen die bepalen in welke Spoorvoertuigcategorie het materieel valt.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="profieltypeSnelheid" type="Algemeen:ProfieltypeSnelheidType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: (Maatgevende) karakteristiek van de snelheid van de treinvoertuigen over een lengte van een spoortak.
Explanation: Er kan sprake zijn van doorgaand, stoppend of rangerend materieel.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="intensiteit" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Gemiddelde uurintensiteit per etmaalperiode, per voertuigcategorie.
Explanation: Aantal rekeneenheden per uur in twee decimalen. Afhankelijk van het spoorvoertuigtype een locomotief, een treinstel, een rijtuig of een wagen, indien deze deel uitmaakt van het spoorvoertuigtype, zoals gedefinieerd in het Rmg 2012, bijlage IV. Toegestane waarden: 0,0 - 999,9</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="rijrichting" type="Algemeen:RijrichtingType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Geeft aan of het Spoordeel in de richting van oplopende (O) dan wel aflopende (A) kilometerwaardes bereden wordt, wanneer van het eerste naar het tweede dienstregelpunt van het ConversieTraject gereden wordt, kijkend naar de geldende kilometrering.
Explanation: De verwerkingssystematiek van de rijrichting is afhankelijk van het aantal evenwijdige sporen ter plaatse: Bij enkelspoor gaat alle verkeer in beide richtingen over het ene spoor; Bij tweesporigheid gaan we uit van ‘rechts rijden Bij meer dan twee sporen in de bundel en geen kennis over het specifieke spoorgebruik nemen we aan dat alle sporen in beide richtingen bereden worden. Als bij meer dan twee sporen het spoorgebruik volgt uit de spoorgeometrie, dan wordt deze kennis wel gebruikt voor het vaststellen van de dominante rijrichting per spoor.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="spoorvoertuigcategorie"
                     type="Algemeen:SpoorvoertuigcategorieType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Categorie-indeling van spoorvoertuigtypen.
Explanation: Zie het Rmg 2012: Bijlage IV, hoofdstuk 1.2 voor een nadere omschrijving.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="treintype" type="Algemeen:TreintypeType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een algemene classificering van een spoorvoertuig.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GeluidproductieplafondcorrectiepSpoorType">
      <xs:sequence>
         <xs:element name="correctiewaarde" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Waarde waarmee de geluidemissie wordt vermeerderd met betrekking tot een daarbij aangegeven gedeelte van een spoorweg ten behoeve van het bepalen van de geluidproductie dan wel de geluidsbelasting.
Explanation: Op het moment dat de geluidproductieplafondsystematiek in werking trad, zijn van rechtswege de GPP’s vastgesteld. Uitgangspunt bij deze vaststelling was dat het plafond is gebaseerd op de bestaande situatie, vermeerderd met een zogenaamde geluidproductieplafondcorrectiewaarde. Deze plafondcorrectiewaarde had als functie om te voorkomen dat er direct een plafondoverschrijding zou ontstaan, om fluctuaties in de intensiteiten op te vangen en om maatregelen in situaties met structurele groei te kunnen voorbereiden.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SnelheidgegevensSpoorType">
      <xs:sequence>
         <xs:element name="snelheid" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De representatieve snelheid van materieel in kilometer per uur.
Explanation: De minimaal gehanteerde snelheid in de rekenmodellen bedraagt 40 km per uur.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="treintype" type="Algemeen:TreintypeType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een algemene classificering van een spoorvoertuig.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="profieltypeSnelheid"
                     type="Algemeen:ProfieltypeSnelheidType"
                     minOccurs="0">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: (Maatgevende) karakteristiek van de snelheid van de treinvoertuigen over een lengte van een Spoordeel.
Explanation: Er kan sprake zijn van doorgaand, stoppend of rangerend materieel.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="remindicatie" type="xs:boolean" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Geeft aan of volgens het snelheidsprofiel treinen afremmen.
Explanation: 0 = nee 1 = ja</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="rijrichting" type="Algemeen:RijrichtingType" minOccurs="0">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Geeft aan of het Spoordeel in de richting van oplopende (O) dan wel aflopende (A) kilometerwaardes bereden wordt, wanneer van het eerste naar het tweede dienstregelpunt van het ConversieTraject gereden wordt, kijkend naar de geldende kilometrering.
Explanation: De verwerkingssystematiek van de rijrichting is afhankelijk van het aantal evenwijdige sporen ter plaatse: Bij enkelspoor gaat alle verkeer in beide richtingen over het ene spoor; Bij tweesporigheid gaan we uit van ‘rechts rijden Bij meer dan twee sporen in de bundel en geen kennis over het specifieke spoorgebruik nemen we aan dat alle sporen in beide richtingen bereden worden. Als bij meer dan twee sporen het spoorgebruik volgt uit de spoorgeometrie, dan wordt deze kennis wel gebruikt voor het vaststellen van de dominante rijrichting per spoor.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="IntensiteitgegevensWegType">
      <xs:sequence>
         <xs:element name="aantalLichteVoertuigenDag" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Gemiddeld aantal lichte motorvoertuigen etmaalperiode dag</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aantalLichteVoertuigenAvond" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Gemiddeld aantal lichte motorvoertuigen etmaalperiode avond.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aantalLichteVoertuigenNacht" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Gemiddeld aantal lichte motorvoertuigen etmaalperiode nacht</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aantalMiddelzwareVoertuigenDag" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Gemiddeld aantal middelzware motorvoertuigen per etmaalperiode van een dag.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aantalMiddelzwareVoertuigenAvond" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Gemiddeld aantal middelzware motorvoertuigen etmaalperiode avond</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aantalMiddelzwareVoertuigenNacht" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Gemiddeld aantal middelzware motorvoertuigen etmaalperiode nacht</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aantalZwareVoertuigenDag" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Gemiddeld aantal zware motorvoertuigen etmaalperiode dag</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aantalZwareVoertuigenAvond" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Gemiddeld aantal zware motorvoertuigen etmaalperiode avond
Explanation: Toegestane waarden 0,0 - 9999,99</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="aantalZwareVoertuigenNacht" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Gemiddeld aantal zware motorvoertuigen etmaalperiode nacht</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SnelheidgegevensWegType">
      <xs:sequence>
         <xs:element name="snelheidLichteMotorvoertuigenDag" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Representatief te achten snelheid in kilometer per uur van lichte motorvoertuigen tijdens etmaalperiode dag.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="snelheidLichteMotorvoertuigenAvond" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Representatief te achten snelheid in kilometer per uur van lichte motorvoertuigen tijdens etmaalperiode avond.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="snelheidLichteMotorvoertuigenNacht" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Representatief te achten snelheid in kilometer per uur van lichte motorvoertuigen tijdens etmaalperiode nacht</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="snelheidMiddelzwareMotorvoertuigenDag" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Representatief te achten snelheid in kilometer per uur van middelzware motorvoertuigen tijdens etmaalperiode dag</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="snelheidMiddelzwareMotorvoertuigenAvond" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Representatief te achten snelheid in kilometer per uur van middelzware motorvoertuigen tijdens etmaalperiode avond.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="snelheidMiddelzwareMotorvoertuigenNacht" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Representatief te achten snelheid in kilometers per uur van middelzware motorvoertuigen tijdens etmaalperiode nacht</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="snelheidZwareMotorvoertuigenDag" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Representatief te achten snelheid in kilometers per uur van zware motorvoertuigen tijdens etmaalperiode dag.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="snelheidZwareMotorvoertuigenAvond" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Representatief te achten snelheid in kilometers per uur van zware motorvoertuigen tijdens etmaalperiode avond.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="snelheidZwareMotorvoertuigenNacht" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Representatief te achten snelheid in kilometers per uur van zware motorvoertuigen tijdens etmaalperiode nacht.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="PlekType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Plaatsaanduiding van een infrastructureel object (brug, tunnel, etc., zie: enumeratie InfraobjectType) of geluidscherm.
Explanation: Formeel in soundcheck een integer: {0:"L", 1:"R", 2:"T"}.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="TussenSpoor">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Plaatsaanduiding van een infrastructureel object (brug, tunnel, tussen het spoor.
Explanation: T = tussen het spoor</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="LinksSpoor">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Plaatsaanduiding van een infrastructureel object (brug, tunnel, links van het spoor.
Explanation: L = links van de rijrichting van het spoor</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="RechtsSpoor">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Plaatsaanduiding van een infrastructureel object (brug, tunnel, rechts van het spoor.
Explanation: R = rechts van de rijrichting van het spoor</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="SpoorvoertuigcategorieType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Categorie-indeling van spoorvoertuigtypen.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="Cat01">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: BlokgeremdReizigersmaterieel
Explanation: Zie het Rmg 2012: Bijlage IV, hoofdstuk 1.2 voor een nadere omschrijving.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Cat02">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: SchijfEnBlokgeremdReizigersmaterieel
Explanation: Zie het Rmg 2012: Bijlage IV, hoofdstuk 1.2 voor een nadere omschrijving.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Cat03">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: SchijfEnBlokgeremdElektrischMaterieel
Explanation: Zie het Rmg 2012: Bijlage IV, hoofdstuk 1.2 voor een nadere omschrijving.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Cat04">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: GoederenmaterieelMetGietijzerenBlokremmen
Explanation: Zie het Rmg 2012: Bijlage IV, hoofdstuk 1.2 voor een nadere omschrijving.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Cat05">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: BlokgeremdDieselmaterieel
Explanation: Zie het Rmg 2012: Bijlage IV, hoofdstuk 1.2 voor een nadere omschrijving.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Cat06">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: SchijfgeremdDieselmaterieel
Explanation: Zie het Rmg 2012: Bijlage IV, hoofdstuk 1.2 voor een nadere omschrijving.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Cat07">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: SchijfgeremdMetroEnSneltrammaterieel
Explanation: Zie het Rmg 2012: Bijlage IV, hoofdstuk 1.2 voor een nadere omschrijving.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Cat08">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: SchijfgeremdReizigersmaterieel
Explanation: Zie het Rmg 2012: Bijlage IV, hoofdstuk 1.2 voor een nadere omschrijving.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Cat09">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: SchijfEnBlokgeremdHogesnelheidsmaterieel
Explanation: Zie het Rmg 2012: Bijlage IV, hoofdstuk 1.2 voor een nadere omschrijving.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Cat10">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: LightrailMaterieel
Explanation: Zie het Rmg 2012: Bijlage IV, hoofdstuk 1.2 voor een nadere omschrijving.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Cat11">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: GoederenmaterieelMetAlternatieveBlokremmen
Explanation: Zie het Rmg 2012: Bijlage IV, hoofdstuk 1.2 voor een nadere omschrijving.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Cat12">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: SchijfgeremdStilReizigersmaterieel
Explanation: Zie het Rmg 2012: Bijlage IV, hoofdstuk 1.2 voor een nadere omschrijving. Aanvullende opmerking Ontstaan uit categorie 8, maar de materieelsoorten die tot cat12 behoren, zijn stiller en krijgen nu een aparte categorie</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="WisselkantcodeType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Plaatsaanduiding van een wissel</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="Voor">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Plaatsaanduiding van een wissel die aangeeft dat het betreffende spoordeel het voorste deel (het deel voor de splitsing) van de wissel betreft, gezien vanuit de rijrichting.
Explanation: V = voor</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Linkerbeen">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Plaatsaanduiding van een wissel die aangeeft dat het betreffende spoordeel het linker spoordeel deel (het deel voor de splitsing) van de wissel betreft, gezien vanuit de rijrichting.
Explanation: L = linkerbeen</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Rechterbeen">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Plaatsaanduiding van een wissel die aangeeft dat het betreffende spoordeel het linker spoordeel deel (het deel voor de splitsing) van de wissel betreft, gezien vanuit de rijrichting.
Explanation: R = rechterbeen</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DagdeelType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het gedeelte van een etmaal waarover het equivalent geluidsniveau wordt bepaald, ook wel: etmaalperiode.
Explanation: Dagperiode (7.00-19.00 uur) Avondperiode (19.00-23.00 uur) Nachtperiode (23.00-7.00 uur)</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="Dag">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Etmaalperiode van 07:00 - 19:00</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Avond">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Etmaalperiode van 19:00 - 23:00</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Nacht">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Etmaalperiode van 23:00 - 07:00</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TreintypeType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Een algemene classificering van een spoorvoertuig.
Explanation: Er zijn twee hoofdtypen: goederentrein reizigerstrein.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="Reizigers">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De typering van een reizigerstrein.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Goederen">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: De typering van een goederentrein.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="GeluidbronsoortType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Enumeratie van domeinen waarbij een geregistreerd object hoort.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="Rijkswegen"/>
         <xs:enumeration value="Provinciale wegen"/>
         <xs:enumeration value="Gemeentewegen"/>
         <xs:enumeration value="Waterschapswegen"/>
         <xs:enumeration value="Hoofdspoorwegen"/>
         <xs:enumeration value="Lokale spoorwegen"/>
         <xs:enumeration value="Industrieterreinen"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ProfieltypeSnelheidType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Indicatie van het snelheidsverloop op het betreffende Spoordeel.
Explanation: Er kan sprake zijn van doorgaand, stoppend of rangerend materieel.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="Doorgaand">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Treinverkeer dat een station passeert
Explanation: Bijvoorbeeld een Intercity</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Stoppend">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Treinverkeer dat afremt of optrekt door aankomst of vertrek bij een station
Explanation: Bijvoorbeeld een stoptrein</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Rangerend">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Treinverkeer dat zich (met lage snelheid) verplaats op een spooremplacement
Explanation: Bijvoorbeeld een rangerende treinstel</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DocumenttypeType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Lijst van mogelijke type documenten waarnaar verwezen kan worden vanuit het geluidregister.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="besluit">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het meest actuele juridische besluit waarin een geluidproductieplafond of de wijziging daarvan als omgevingswaarde is vastgelegd.
Explanation: Alleen van toepassing op geluidproductieplafonds, maar kan ook een luchthavenbesluit zijn.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="melding"/>
         <xs:enumeration value="monitoringsverslag">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Het monitoringsverslag is het voornaamste instrument van bevoegde gezag om: te monitoren of de GPP’s niet worden overschreden, te monitoren hoe de geluidproductie zich ten opzichte van het BGE ontwikkeld heeft de minister en het publiek te informeren over de wijze waarop het bevoegd gezag zorg draagt voor de naleving van de GPP’s, danwel de ontwikkeling van BGE's.
Explanation: Het bevoegd gezag heeft de plicht zorg te dragen voor de naleving van deze GPP’s, danwel de ... van BGE's. Dit betekent dat de bronhouder voortdurend moet anticiperen en tijdig maatregelen moet treffen om overschrijdingen zoveel mogelijk te voorkomen. Bij alle relevante ontwikkelingen op het hoofdwegennet, lokale wegennet, hoofdspoornet, lokale spoornet of industrieterreinen beoordeelt het bevoegd gezag of deze gevolgen hebben voor het naleven van de GPP’s, danwel het ... van de BGE's. Het nalevingsverslag presenteert de resultaten van de monitoring en de stappen die het bevoegd gezag neemt om de GPP’s na te leven, danwel BGE's ... gepresenteerd.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="GeluidbronType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Enumeratie van mogelijke domeinen waaruit de geluidemissie afkomstig is.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="rijksweg"/>
         <xs:enumeration value="provinciale weg"/>
         <xs:enumeration value="gemeenteweg"/>
         <xs:enumeration value="waterschapsweg"/>
         <xs:enumeration value="hoofdspoorweg"/>
         <xs:enumeration value="lokale spoorweg"/>
         <xs:enumeration value="luchtverkeer"/>
         <xs:enumeration value="industrieterrein"/>
         <xs:enumeration value="windturbine"/>
         <xs:enumeration value="schiet- of springterrein"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="RijrichtingType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Geeft aan of het Spoordeel in de richting van oplopende (O) dan wel aflopende (A) kilometerwaardes bereden wordt, wanneer van het eerste naar het tweede dienstregelpunt van het ConversieTraject gereden wordt, kijkend naar de geldende kilometrering.
Explanation: De verwerkingssystematiek van de rijrichting is afhankelijk van het aantal evenwijdige sporen ter plaatse: Bij enkelspoor gaat alle verkeer in beide richtingen over het ene spoor; Bij tweesporigheid gaan we uit van ‘rechts rijden Bij meer dan twee sporen in de bundel en geen kennis over het specifieke spoorgebruik nemen we aan dat alle sporen in beide richtingen bereden worden. Als bij meer dan twee sporen het spoorgebruik volgt uit de spoorgeometrie, dan wordt deze kennis wel gebruikt voor het vaststellen van de dominante rijrichting per spoor.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="Oplopend">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Rijrichting in oplopende (O) kilometerwaardes.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Aflopend">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Rijrichting in oplopende (O) kilometerwaardes.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="SpoorstaafonderbrekingType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Classificatie van onderbrekingen in de geprofileerde ijzeren staaf die onderdeel is van een spoorbaan.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="IndexM1">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Voegloze spoorstaaf (doorgelast) met of zonder voegloze wissels en kruisingen</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="IndexM2">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Niet doorgelaste spoorstaaf</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="IndexM3">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Wissels</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ToepassingType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Indicatie van het type geluidgegevenscollectie
Explanation: Een geluidgegevenscollectie dient verschillende doelen: ter vaststelling van een geluidproductieplafond of basisgeluidemissie, het monitoren van de vastgestelde gleuidproductieplafonds of basisgeluidemissies of een prognose op een basisgeluidemissie.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="vaststelling">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Objecten die gebruikt zijn om GPP's of BGE's te berekenen en daarmee behoren bij de vastgestelde waarden.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="brongegevens monitoring">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Objecten die gebruikt zijn om de waarden te berekenen die nodig zijn voor monitoring van GPP's of BGE's en die kunnen worden beschreven in een monitoringsverslag.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="prognose">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Objecten die een reflectie zijn van de toekomstige werkelijkheid en de prognoses van bijbehorende intensiteiten.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="monitoringresultaat"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="BovenbouwcodeType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Categorie-indeling van de bovenbouw.
Explanation: Een geospoortak kan in SoundBase verschillende bovenbouwcodes hebben. De in te voeren bovenbouwcode is afhankelijk van de boring, dwarsliggertype, spoorstaafbevestiging, ballastdikte en de eventuele aanwezigheid van raildempers. De combinatie van voorgaande factoren resulteert in een bijbehorende bovenbouwklasse.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="IndexB01">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Baan op betonnen mono- of duoblok dwarsliggers in ballastbed (index b = 1);</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="IndexB02">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Baan op houten of zigzag betonnen dwarsliggers in ballastbed (index b = 2);</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="IndexB03">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Baan met ballastbed met niet doorgelaste spoorstaven of onderbroken door maximaal twee niet voegloze wissels binnen 50 m (index b = 3);</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="IndexB04">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Baan met blokkenspoor (index b = 4);</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="IndexB05">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Baan met blokkenspoor en ballastbed (index b = 5);</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="IndexB06">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Baan met regelbare spoorstaafbevestiging (index b = 6);</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="IndexB07">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Baan met regelbare spoorstaafbevestiging en ballastbed (index b = 7);</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="IndexB08">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Baan met ingegoten spoorstaaf (index b = 8);</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="IndexB09">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Baan met directe railbevestiging op een onderheide betonplaat voor metro- en sneltrammaterieel (index b = 9);</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="IndexB10">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Baan met raildempers op betonnen mono- of duoblok dwarsliggers in ballastbed (index b = 10);</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="IndexB11">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Baan met HSL-Rhedaspoor (index b = 11);</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="IndexB12">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Baan bij overweg.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="Spoorstaafruwheid" type="Algemeen:SpoorstaafruwheidType">
      <xs:annotation>
         <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Ruwheidsklasse van de geprofileerde ijzeren staaf die onderdeel is van een spoorbaan.
Explanation: Standaard wordt met categorie 1 gerekend, maar in sommige gevallen zijn maatregelen getroffen en kan voor categorie 2, dan wel 3 gekozen worden. 1 = Gemiddeld 2 = Geoptimaliseerd geslepen tot 200 km/pu 3 = Geoptimaliseerd boven 200)</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:complexType name="SpoorstaafruwheidType">
      <xs:sequence>
         <xs:element name="golflengte" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: [onbekend]
Explanation: De spoorstaafruwheid wordt opgenomen als functie van golflengte(klasse)   630 mm 500 mm 400 mm 315 mm ... 2 mm 1,6 mm 1,25 mm 1 mm</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="referentie" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Standaard rekenwaarde voor de ruwheidsklasse van de spoorstaaf
Explanation: Standaardkeuze</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geoptimaliseerdTot200kmu" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Geluidsreducerende slijping waarvan de werking geldt tot 200 kilometer per uur.
Explanation: Optionele keuze</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="geoptimaliseerdVanaf200kmu" type="gml:MeasureType">
            <xs:annotation>
               <xs:documentation source="http://www.imvertor.org/model-info/technical-documentation">Definition: Geluidsreducerende slijping waarvan de werking geldt vanaf 200 kilometer per uur.
Explanation: Optionele keuze</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SpoorstaafruwheidPropertyType">
      <xs:sequence minOccurs="0">
         <xs:element ref="Algemeen:Spoorstaafruwheid"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
